h1{
    text-decoration: black ;
    text-align: center;
    background-color: greenyellow;
    border-radius: 5px;
   font-size: inherit;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 30px;
}

.container-fluid{
    padding: 30px;
    align-items: center;
}

#form{
    align-items: initial;
}